@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;600&display=swap');
@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-rounded/css/uicons-regular-rounded.css');

:root{
    --green-m: #86B745;
    --white-m: #F7F7F7;
    --darkgray-m: #262827;
    --white-hov: #E1DFDF;
    --gray: #3A3D3C;
    --lightgray: #5F5F5E;
    --lightergray: #ACACAA;
    --green-success: #2A9349;
    --red-error: #FF0033;
}

body{
    background-color: var(--white-m);
    display: flex;
    flex-direction: row;
    margin: 0;
    font-family: 'Archivo', sans-serif;
}

.left-emp-dash{
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo{
    width: 10vw;
}

.date-time{
    color: var(--darkgray-m);
}

.date-time h1{
    font-size: 8vw;
    margin-top: 20px;
    margin-bottom: 0;
}
.date-time p{
    font-size: 1.5vw;
    font-weight: 600;
    text-align: center;
}
.log-buttons{
    font-size: 20vh;
    color: var(--green-m);
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 45%;
}
.log-buttons p{
    color: var(--lightgray);
    font-size: 1vw;
    font-size: 1.5vw;
    font-weight: 600;
    text-align: center;
    margin: 0;
}

.right-emp-dash{
    width: 30vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--darkgray-m);
}
.right-emp-dash h1{
    color: var(--white-m);
    font-size: 6vh;
    margin: 8vh 0 12vh 0;
}
.right-emp-dash button{
    color: var(--green-m);
    display: flex;
    align-items: center;
    padding:2vh 1vw 1vh 1vw;
    border-radius: 50px;
    border: 0;
    background-color: var(--darkgray-m);
    width: 70%;
    margin-bottom: 5%;
}
.right-emp-dash button:hover{
    background-color: var(--gray);
}

.right-emp-dash i{
    font-size: 5vh;
    justify-self: self-start;
}
.right-emp-dash p{
    font-size: 2.5vh;
    font-weight: 600;
    margin: 0 3vw 1vh 3vw;
    justify-self: center;
}
