@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;600&display=swap');
@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-rounded/css/uicons-regular-rounded.css');

:root{
    --green-m: #86B745;
    --white-m: #F7F7F7;
    --darkgray-m: #262827;
    --white-hov: #E1DFDF;
    --gray: #3A3D3C;
    --lightgray: #5F5F5E;
    --lightergray: #ACACAA;
    --green-success: #2A9349;
    --red-error: #FF0033;
}

body{
    background-color: var(--white-m);
    display: flex;
    flex-direction: row;
    margin: 0;
}

.left-emp-dash{
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo{
    width: 150px;
}

.date-time{
    font-family: 'Archivo', sans-serif;
    color: var(--darkgray-m);
}

.date-time h1{
    font-size: 100px;
    margin-bottom: 0;
}
.date-time p{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.right-emp-dash{
    width: 30vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: var(--darkgray-m);
}