<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="css/style.css"> 
    <link rel="icon" type="image/x-icon" href="css/images/greenatwork-logo.png">
    <script src="js/script.js"></script> 
</head>
<body>
<div class="left-payroll admin-leftdash">
    <div class="admin-leftdash-top">
        <h2>Admin Notifications</h2>
    </div>
    <div class="log-table">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Time</th>
                    <th>Reason</th>
                </tr>
            </thead>
            <tbody>
                {{#each emp_forgot_password}}
                <tr>
                    <td>{{this.Name}}</td>
                    <td>{{this.Email}}</td>
                    <td>{{this.Time}}</td>
                    <td>Forgot Password</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <form id="addressed-id">
        <p>Finished Notification: <span><input type="email" name="email" placeholder="Email" id="email-id"></span></p> 
        <button type="button" id="addressed-button-id" class="ad-leftdash-btn"><p>Submit</p></button>
    </form>
</div>
<div class="right-payroll right-emp-dash">
    <div class="admin-rightdash-top">
        <h1>Admin Dashboard</h1>
        <p>As of <span id="date">Monday, January 1, 2024</span></p> 
        <p id="time">00:00:00</p>
    </div>
   <div class="ad-dash-spacer"></div>
   <div class="admin-rightdash-mid">
    <button type="button" class="ad-rightdash-btn" id="Ti-To-logs-id" onclick="window.location.href = 'admin_dashboard';">
        <i class="fi fi-rr-calendar-clock"></i>
        <p>Time-in/out Logs</p>
    </button>
    <button type="button" class="ad-rightdash-btn" id="emp-mgm-id" onclick="window.location.href = 'admin_empman_payroll';">
        <i class="fi fi-rr-employee-man"></i>
        <p>Employee Management</p>
    </button>
    <button type="button" class="ad-rightdash-btn" onclick="window.location.href = 'register';">
        <i class="fi fi-rr-users-alt"></i>
        <p>Add/Delete User</p>
    </button>
    <button type="button" class="ad-rightdash-btn"  onclick="window.location.href = 'admin_notifs';">
        <i class="fi fi-rr-bell"></i>
        <p>Notifications</p>
    </button>
    
</div>
<div class="admin-rightdash-bottom">
    <h2><a href="/logout">Log-Out</a></h2>   
</div>
</div>
<script src="/js/admin-notifs.js"></script>
</body>
</html>
