<!DOCTYPE html>
<html>
<head>
    <title>Delete_User</title>
</head>
<body>
    <form id="user-delete">
        <input type="text" name="email" placeholder="Email" id="email">
        <button type="button" id="user-delete-button"><h2>Enter</h2></button>
    </form>
<script src="/js/user-delete.js"></script>
</body>
</html>
