<!DOCTYPE html>
<html>
<head>
    <title>dummy register</title>
</head>
<body>
    <h1>Dummy Register (TO BE DELETED LATER)</h1>
    <form id="dummy-register-form">
        <input type="email" name="email" placeholder="Email" id="email">
        <input type="password" name="password" placeholder="Password" id="password">
        <button type="button" id="dummy-register-button"><h2>Enter</h2></button>
    </form>
<script src="/js/dummy-register.js"></script>
</body>
</html>