<!DOCTYPE html>
<html>
<head>
    <title>Green at Work</title>
    <link rel="stylesheet" href="/css/style.css"> 
</head>
<body>
<div class="login-left">
    <img src="/css/images/greenatwork-logo.png" alt="Green at Work Logo">
</div>
<div class="login-right">
    <h1>Log-in</h1>
    <form id="login-form">
        <div class="login-input">
            <div class="log-field">
                <i class="fi fi-sr-envelope green-icon"></i>
                <input type="email" name="email" placeholder="Email" id="email" class="log-text">
            </div>
            <div class="log-field">
                <i class="fi fi-sr-lock green-icon"></i>        
                <input type="password" name="password" placeholder="Password" id="password" class="log-text">
                <i class="fi fi-rr-eye-crossed pw-icon" id="eye-icon"></i>    
            </div>
                
        </div>
        <div>
            <button type="button" onclick="togglePopup()" style="text-decoration: none; color: #86B745; background: none; border: none; cursor: pointer;">Forgot Password?</button>
        </div>
        <div>
            <p id="error_issue" style="font-weight: bold; color: red; text-align: center;"></p>
        </div>
        <div>
            <button type="button" id="login-button"><h2>Log-in</h2></button>
        </div>
    </form>
</div>

<div class = "popup" id="popup-1"> 
    <div class="overlay"></div>
    <div class="content">
        <div class="close-btn" onclick="closeBtn()">&times;</div>
        <h1>Please Enter Your Email</h1>
        <form id="forgot-password-form-id">
            <div class="log-field">
                <input type="email" name="email" placeholder="Email" id="for-pas-email" class="log-text">
            </div>
            <div>
                <button type="button" id="forgot-password-button-id"><h2>Submit</h2></button>
            </div>
        </form>
    </div>
</div>

<script>
    let eyeicon = document.getElementById("eye-icon");
    let password = document.getElementById("password");

    eyeicon.onclick = function(){
        if(password.type == "password"){
            password.type = "text";
            eyeicon.className = "fi fi-rr-eye pw-icon"
        }else{
            password.type = "password";
            eyeicon.className = "fi fi-rr-eye-crossed pw-icon"
        }
    } 
</script>
<script src="/js/login.js"></script>
</body>
</html>