<!DOCTYPE html>
<html>
<head>
    <title>OTP Page</title>
    <link rel="stylesheet" href="/css/style.css"> 
</head>
<body>
<div class="mid-emp-dash">
    <img src="/css/images/greenatwork-logo.png" alt="Green at Work Logo" class="logo">
    <div class="date-time-log">
        <h1 id="otp-storage">{{correctNumber}}</h1>
        <p>Current OTP</p>
    </div>
</body>
<script src="/js/otp-verify.js"></script>
</html>
