<!DOCTYPE html>
<html>
<head>
    <title>Employee Log Page</title>
    <link rel="stylesheet" href="/css/style.css"> 
    <script src="/js/script.js"></script> 
</head>
<body>
<div class="left-emp-dash">
    <img src="/css/images/greenatwork-logo.png" alt="Green at Work Logo" class="logo">
    <div class="date-time-log">
        <h1 id="time">00:00:00</h1>
        <p id="date">Monday, January 1, 2024</p>
    </div>

    <div class = "popup" id="popup-3">    
        <div class="overlay"></div>
            <div class="content">
                <div class="close-btn" onclick="reload()">&times;</div>
                <h1>Time In Successful</h1>
                <div class="otp-button"><button id="register-button" onclick="reload()">Confirm</button></div>
                </form>
            </div>
        </div>
    

    <div class = "popup" id="popup-4">    
        <div class="overlay"></div>
            <div class="content">
                <div class="close-btn" onclick="reload()">&times;</div>
                <h1>Time Out Successful</h1>
                <div class="otp-button"><button id="register-button" onclick="reload()">Confirm</button></div>
                </form>
            </div>
        </div>
    

    <div class="log-buttons">
        <button type="button" id="time-in-btn" onclick="timeIn(); togglePopup2()">
            <i class="fi fi-rr-enter"></i>
            <p>Time-in</p>
        </button>
        <button type="button" id="time-out-btn" onclick="enableTimeIn(); togglePopup3()" disabled>
            <i class="fi fi-rr-exit"></i>
            <p>Time-out</p>   
        </button>  
    </div>
</div>

<div class="right-payroll right-emp-dash">
    <div class="admin-rightdash-top">
        <h1>Hello!</h1>
    </div>
   <div class="ad-dash-spacer"></div>
    <div class="admin-rightdash-mid">
        <button type="button" class="ad-rightdash-btn">
            <i class="fi fi-rr-employee-man"></i>
            <p><a href="/employee_dashboard">Employee Dashboard</a></p>
        </button>
    </div>
    <div class="admin-rightdash-bottom">
        <br><br>
        <h2><a href="/logout">Log-Out</a></h2>   
    </div>
</div>
<script src="/js/otp-verify.js"></script>
<script src="/js/time_retrieval.js"></script>
</body>
</html>
